.input-field{
    background-color: rgb(27, 28, 44);
    border-radius: 20px;
}

.inputs{
    background-color: rgba(174, 174, 174, 0);
    border-bottom: 1px solid rgb(229, 229, 229);
    width: 80%;
    padding-left: 10px;
    height: 40px;
    font-size: 20px;
    color: white;
}

.date{
    text-align: left;
    font-size: 20px;
    color: #9ca3af;
}

.cross {
    filter: 
    invert(50%) 
    sepia(100%) 
    hue-rotate(-50deg) 
    saturate(10);
}