.headWrapper{
    /* max-width: 1400px; */
    /* display: flex; */
    justify-content: center;
    padding: 15px;
    padding-bottom: 0px;
   position: fixed;
   width: 100%;
   background-color: #161724;
}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.logo{
    font-size: 40px;
    cursor: default;
    padding-left: 10px;
    color: azure;
    font-family: 'Comfortaa', cursive;
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu ul li {
    text-decoration: none;
    list-style: none;
    padding: 25px;
    font-size: 25px;
    cursor: pointer;
}

.menu ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Comfortaa', cursive;
}

.menu ul li a:hover {
    text-decoration: none;
    transform:rotate3d('20deg');
    color: rgb(122, 121, 121);
}

.navToggler{
    display: none;
}

@media screen and (max-width : 768px) {
    .headWrapper{
        padding: 25px;
        background-color: #161724;
    }
    .header{
        justify-content: space-between;
        margin-left: 0px;
        margin-right: 0px;
        border: none;
    }
    .logo{
        font-size: 24px;
        color: azure;
    }
    
    .navToggler{
        display: block;
        cursor: pointer;
        /* transition: 0.4s; */
    }

    .navToggler div{
        width: 2.2rem;
        height: 0.1rem;
        margin: 0.5rem;
        background-color: white;
        transition: 0.5s;
    }
 
    .menu{
        position: fixed;
        top: 7vh;
        right: 0px;
        width: 50%;
        height: 93vh;
        background-color: #161724;
        transform: translateX(100%);
        transition: 0.5s;
        
    }

    .menu ul {
        flex-direction:column ;
    }
    
    .menu ul li{
        margin-top: 30px;
    }


    .menuActive{
        transform: translateX(0);
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-10px, 7px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px, -4px);
    }

}